# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
env/
venv/
ENV/
.env/

# IDE / Editor
.vscode/
.idea/

# OS generated
.DS_Store
Thumbs.db

# Python specific
*.pkl
*.sqlite3

# Logs
*.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VSCode config
.vscode/

# Uvicorn / FastAPI reload cache
*.pid
